.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #fc8b9c;
}

h1 {
  margin: 30px;
  font-family: 'Pacifico', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #eee3e7 ;
}

p {
  font-size: 2rem;
  color: #eec9d2;
  font-family: 'Rubik Bubbles', cursive;
}

img {
  width: 80%;
}

button {
  background-color: #feb2a8;
  border: none;
  font-size: 30px;
  margin-top: 50px;
  padding: 5px 20px;
  border-radius: 5px;
  font-family: 'Pacifico', cursive;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
  background-color: #f58071;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Dancing Script', cursive;

}